{% extends 'base.html' %}
{% block content %}
<div class="container">
<p class="mx-auto">
	Who are Bekia Group?
We’re a global product and tech group. +20 brands. 5000 people. One mindset.

 

We empower people to upgrade their lives. Our products & services make it super easy for anyone to buy or sell almost anything.

 

Every month 350 million people use our market-leading trading platforms such as Avito, letgo, dubizzle, OLX and a dozen other local brands. We’re going for a billion.</p>

{% endblock %}