
{% extends 'base.html' %}
{% block content %}

<p><ul><h3>How to safely sell?</h3>
<li>Make sure to inform the buyer of any defects in the item you are selling.</li>
<li>Use only simple payment methods that you trust and are familiar with, especially cash payments
In any case, do not send copies of your documents, personal data and most importantly financial information</li>
<li>Don’t deal with buyers who keep on constantly changing the meeting place or calling from different mobile numbers.</li>
<li>If you see the buyer waiting for you in his car and he wants to check the item, ask him kindly to get out of the car to check it outside; it is always better in a public place you have both chosen.</li>
</ul></p>
{% endblock %}